<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Feature Id="FE.KeyManager"
            Title="Ovation Shared Encryptio Key Manager"
            Level="1">

      <ComponentGroupRef Id="CG.KeyManagerService" />
      <ComponentGroupRef Id="CG.KeyManagerConsole" />
    </Feature>
	</Fragment>
</Wix>