<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="OVATIONBIN">
      <Component Id="C.KeyManagerService"
                 Guid="*">
        <File Id="KeyManager.exe"
              Name="KeyManager.exe"
              Source="$(var.KeyManagerWindowsService.TargetPath)"
              KeyPath="yes"/>

        <ServiceInstall
          Id="S.KeyManager"
          Type="ownProcess"
          Vital="yes"
          Name="OvationKeyManager"
          DisplayName="Ovation Shared Encryption Key Manager"
          Description="Ovation Shared Encryption Key Manager Service"
          Start="auto"
          Account="NT AUTHORITY\LocalService"
          ErrorControl="normal"
          Interactive="no" />

        <ServiceControl Id="SC.KeyManager"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Name="OvationKeyManager"
                        Wait="no" />

      </Component>

      <Component Id="C.KeyRepositoryService"
                 Guid="*">
        <File Id="KeyRepositoryService.dll"
              Name="KeyRepositoryService.dll"
              Source="$(var.KeyRepositoryService.TargetPath)"
              KeyPath="yes"/>
      </Component>

      <Component Id="C.KeyManagerServiceConfig"
                 Guid="*">
        <File Id="$(var.KeyManagerWindowsService.TargetName)$(var.KeyManagerWindowsService.TargetExt).config"
              Name="$(var.KeyManagerWindowsService.TargetName)$(var.KeyManagerWindowsService.TargetExt).config"
              Source="$(var.KeyManagerWindowsService.TargetDir)$(var.KeyManagerWindowsService.TargetName)$(var.KeyManagerWindowsService.TargetExt).config"
              KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="CG.KeyManagerService">
      <ComponentRef Id="C.KeyManagerService"/>
      <ComponentRef Id="C.KeyRepositoryService"/>
      <ComponentRef Id="C.KeyManagerServiceConfig"/>
    </ComponentGroup>

  </Fragment>
</Wix>