<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include $(sys.CURRENTDIR)\Config.wxi?>
  
	<Product Id="46f32ebc-f345-4594-98f9-6df29814061e"
           Name="$(var.ProductName)"
					 Language="1033"
					 Version="$(var.OvationVersion)"
					 Manufacturer="Physion Consulting LLC"
					 UpgradeCode="$(var.OvationUpgradeID)">
    
		<Package InstallerVersion="200" 
             Compressed="yes" 
             Platform="$(var.Platform)"/>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="KeyManagerInstaller">
					<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
					<!-- <Component Id="ProductComponent" Guid="33d28b26-cb7b-4590-988e-7a2ac1d3a8bc"> -->
						<!-- TODO: Insert files, registry keys, and other resources here. -->
					<!-- </Component> -->
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="KeyManagerInstaller" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<!-- <ComponentRef Id="ProductComponent" /> -->
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>

    <UIRef Id="WixUI_Minimal"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    
	</Product>
</Wix>
