<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IKeyRepository" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/OvationKeyManager/service"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IKeyRepository"
                contract="IKeyRepository" name="NetNamedPipeBinding_IKeyRepository">
                <identity>
                    <userPrincipalName value="DENALI7-86\Barry Wark" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>