<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  
  <system.serviceModel>
    
    <services>
      <service name="Physion.Ovation.KeyRepositoryService.FileSystemKeyRepository"
               behaviorConfiguration="KeyRepositoryServiceBehavior">

        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/OvationKeyManager/service/" />
          </baseAddresses>
        </host>

        <endpoint address="net.pipe://localhost/OvationKeyManager/service"
                  binding="netNamedPipeBinding"
                  contract="Physion.Ovation.KeyRepositoryService.IKeyRepository" />

        <endpoint address="net.pipe://localhost/OvationKeyManager/service/mex"
                  binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    
    
    <bindings>
      <netNamedPipeBinding>
        <binding
               closeTimeout="00:01:00"
               openTimeout="00:01:00"
               receiveTimeout="00:10:00"
               sendTimeout="00:01:00"
               transactionFlow="false"
               transferMode="Buffered">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <mexNamedPipeBinding>
        <binding
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:01:00"
            sendTimeout="00:01:00"/>
      </mexNamedPipeBinding>
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="KeyRepositoryServiceBehavior">
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

</configuration>
